<h1 class="font-medium leading-tight text-5xl mt-0 mb-2">About me</h1>
<h2 class="font-medium leading-tight text-3xl mt-0 mb-2">
    My name is Maksymilian, I from Poland and I'm 19 years old.<br>
    I've been interested in programming since 2017,<br *ngIf="innerWidth <= 1920"> 
    I've started programming in C++ and at the beggining I mainly coded World of Warcraft servers in this language.<br>
    In my free time I really enjoy my hobbies, I like to draw and my main hobby is coding.
</h2>
<hr class="my-8 h-px bg-gray-200 border-0 dark:bg-gray-700">
<h1 class="font-medium leading-tight text-5xl mt-0 mb-2">Tech stack</h1>
<h2 class="font-medium leading-tight text-4xl mt-0 mb-2">Back-end</h2>
<h3 class="font-medium leading-tight text-3xl mt-0 mb-2">
    I mainly code in C#, I really like .NET Technology, when it comes to write web api I always pick up ASP.NET Core
    with latest version with CQRS Design Pattern.<br>
    <div class="pt-2"></div>
    Other technologies:
</h3>

<ul class="space-y-1 max-w-md list-disc list-inside text-lg font-semibold text-gray-900 dark:text-white">
    <li>
        MVC
    </li>
    <li>
        WPF
    </li>
    <li>
        C++
    </li>
</ul>
<div class="pt-7"></div>
<h2 class="font-medium leading-tight text-4xl mt-0 mb-2">Front-end</h2>
<h3 class="font-medium leading-tight text-3xl mt-0 mb-2">
    I really like to use Typescript with Angular and always when it comes to write front-end I pick up them.<br>
    <div class="pt-2"></div>
    Other technologies:
</h3>
<ul class="space-y-1 max-w-md list-disc list-inside text-lg font-semibold text-gray-900 dark:text-white">
    <li>
        Javascript
    </li>
    <li>
        JQuery
    </li>
    <li>
        SolidJS
    </li>
</ul>
<div class="pt-7"></div>
<h2 class="font-medium leading-tight text-4xl mt-0 mb-2">Databases</h2>
<ul class="space-y-1 max-w-md list-disc list-inside text-lg font-semibold text-gray-900 dark:text-white">
    <li>
        MSSQL
    </li>
    <li>
        MySQL
    </li>
    <li>
        PostgreSQL
    </li>
    <li>
        MongoDB
    </li>
    <li>
        Elasticsearch
    </li>
    <li>
        Redis
    </li>
    <li>
        AWS DynamoDB 
    </li>
</ul>
<div class="pt-7"></div>
<h2 class="font-medium leading-tight text-4xl mt-0 mb-2">Cloud</h2>
<ul class="space-y-1 max-w-md list-disc list-inside text-lg font-semibold text-gray-900 dark:text-white">
    <li>
        AWS
    </li>
    <li>
        Azure
    </li>
</ul>
<div class="pt-7"></div>
<h2 class="font-medium leading-tight text-4xl mt-0 mb-2">DevOps</h2>
<ul class="space-y-1 max-w-md list-disc list-inside text-lg font-semibold text-gray-900 dark:text-white">
    <li>
        Docker
    </li>
    <li>
        Kubernetes
    </li>
    <li>
        Azure DevOps
    </li>
    <li>
        Travis CI
    </li>
</ul>
<div class="pt-7"></div>
<h2 class="font-medium leading-tight text-4xl mt-0 mb-2">API Architectures</h2>
<ul class="space-y-1 max-w-md list-disc list-inside text-lg font-semibold text-gray-900 dark:text-white">
    <li>
        REST
    </li>
    <li>
        gRPC
    </li>
</ul>
<hr class="my-8 h-px bg-gray-200 border-0 dark:bg-gray-700">
<h1 class="font-medium leading-tight text-5xl mt-0 mb-2">Experience</h1>
<ol class="relative border-l border-gray-200 dark:border-gray-700">
    <li class="mb-10 ml-4">
        <div
            class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">October 2022</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Taylor Shipping Solutions</h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Back-end Developer (ASP.NET Core 7.0).</p>
    </li>
    <li class="mb-10 ml-4">
        <div
            class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">April 2022</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">CEVA Logistics <span
                class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">Present</span>
        </h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Full-stack Developer (ASP.NET Core 6.0 with
            Angular).</p>
    </li>
    <li class="ml-4">
        <div
            class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">December 2021</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Ingram Micro</h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Full-stack Developer (ASP.NET Core 6.0 with
            Angular).</p>
    </li>
</ol>
<hr class="my-8 h-px bg-gray-200 border-0 dark:bg-gray-700">
<h1 class="font-medium leading-tight text-5xl mt-0 mb-2">Languages</h1>
<ul class="space-y-1 max-w-md list-disc list-inside text-lg font-semibold text-gray-900 dark:text-white">
    <li>
        English <span
            class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">B2</span>
    </li>
    <li>
        Polish <span
            class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">Native</span>
    </li>
    <li>
        Ukrainian <span
            class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">Communicative</span>
    </li>
</ul>
<div class="pt-16"></div>